<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Donut Chart</h3>
          </div>
          <div class="card-body">
            <app-dona [title]="'Ventas'"
                      [labels]="['Pan', 'Refresco', 'Tacos']"
                      [data]="[ 10, 20, 30 ]"
                      [backgroundColor]="['#f44336', '#ffd966', '#16537e']"></app-dona>
          </div>
        </div>
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Donut Chart</h3>
          </div>
          <div class="card-body">
            <app-dona [title]="'Compras'"
                      [labels]="['Pollo', 'Carne', 'Pescado']"
                      [data]="[ 50, 20, 30 ]"></app-dona>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Donut Chart</h3>
          </div>
          <div class="card-body">
            <app-dona title="Cambios"
                      [labels]="['Ensalada', 'Frijoles', 'Frutas']"
                      [data]="[ 40, 15, 45 ]"
                      [backgroundColor]="['#fc8621', '#da1212', '#2f9919']"></app-dona>
          </div>
        </div>
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Donut Chart</h3>
          </div>
          <div class="card-body">
            <app-dona title="Default"></app-dona>
          </div>
        </div>
      </div>
    </div>
  </div>