<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      internalLogLevel="Trace" 
      internalLogFile=".\internal_logs\internallog.txt">
  <targets>
    <target name="logfile" xsi:type="File" 
            fileName=".\logs\${shortdate}_logfile.txt" 
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets> 
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>

<!--
NOTE: : 
If you want to have more control over the log output, 
we suggest renaming the current file to nlog.development.config and creating 
another configuration file called nlog.production.config. 
Then you can do something like this in the code: env.ConfigureNLog($"nlog.{env.EnvironmentName}.config"); 
to get the different configuration files for different environments. 
From our experience production path is what matters, so this might be a bit redundant.
-->