<section id="wrapper">
    <div class="login-register" style="background-image:url(./assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form 
                    class="form-horizontal form-material" 
                    id="loginForm"
                    [formGroup]="loginForm" 
                    (ngSubmit)="changePassword()">
                    <h3 class="box-title m-b-20">Cambiar Contraseña</h3>
                    <div class="form-group">
                        <!-- <label for="currentPassword" class="col-xs-8 control-label">Contraseña Anterior*</label> -->
                        <div class="col-xs-12">
                            <input 
                                class="form-control" 
                                type="password" 
                                id="currentPassword" 
                                placeholder="Contraseña anterior"
                                formControlName="currentPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="newPassword" class="col-xs-8 control-label">Nueva Contraseña*</label> -->
                        <div class="col-xs-12">
                            <input 
                                class="form-control" 
                                type="password" 
                                id="newPassword" 
                                placeholder="Nueva contraseña"
                                formControlName="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="newPassword2" class="col-xs-8 control-label">Repetir Contraseña*</label> -->
                        <div class="col-xs-12">
                            <input 
                                class="form-control" 
                                type="password" 
                                id="newPassword2" 
                                placeholder="Repetir contraseña"
                                formControlName="password2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <p *ngIf="fieldNotValidate('currentPassword')">* El password actual es requerido</p>
                            <p *ngIf="fieldNotValidate('password')">* El nuevo password es requerido</p>
                            <p *ngIf="fieldNotValidate('password2')">* El re-ingreso del nuevo password es requerido e iguales</p>                            
                            <p *ngIf="passwordsEmpty()">* Las contraseñas no deben de estar vacias</p>                                                   
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10">
                        <div class="col-xs-12">
                            <button [disabled]="this.loginForm.invalid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Cambiar Contraseña</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-right">
                            Cambiaste de opinion?... <a (click)="goBack()" class="text-primary m-l-5"><b>regresar</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>