<section id="wrapper">
    <div class="login-register" style="background-image:url(./assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form 
                    class="form-horizontal form-material" 
                    id="loginform"
                    [formGroup]="resetPasswordForm">
                    <h3 class="box-title m-b-20" *ngIf="!hasToken">Solicitar Reseteo</h3>
                    <h3 class="box-title m-b-20" *ngIf="hasToken">Resetear contraseña</h3>
                    <div class="form-group" *ngIf="hasToken">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="firstName" placeholder="Nombres completos">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="hasToken">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="lastName" placeholder="Apellidos completos">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="email" placeholder="Correo de registro">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="hasToken">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="newPassword" placeholder="Nueva Contraseña">
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10" *ngIf="!hasToken">
                        <div class="col-xs-12">
                            <button 
                                class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" 
                                type="submit"
                                [disabled] = "resetPasswordForm.invalid"
                                (click)="requestReset()">Solicitar Reseteo</button>
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10" *ngIf="hasToken">
                        <div class="col-xs-12">
                            <button 
                                class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" 
                                type="submit"
                                [disabled] = "resetPasswordForm.invalid"
                                (click)="resetPassword()">Resetear Contraseña</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            Recuerda su contraseña? <a routerLink="/login" class="text-primary m-l-5"><b>Click aqui</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>